.container-fluid{
    background-color: black;
    height: 100%;
  
}
.box h2{
    font-family: auto;
    color: black;
    font-size: 2rem;
    background-color: aqua;
    padding: 1rem;
}
.box{
    height: 20.2rem;
    width: 31rem;
    background-color: #ffffff;
    border-radius: 9px;
    padding: 1rem;
}
.main-box{
    height: 44.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
.box-3{
    display: flex;
    justify-content: space-between;
}
.form-control {
   font-size: 1.1rem;
    border: 1px solid black;
}

.form-select{
    width: 14rem;
    font-size: 1.1rem;
    border: 1px solid black;
}
.main-box{
    height: 43.4rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 3rem;
}
.button-box{
    display: flex;
    justify-content: space-between;
}
.button-box button{
    width: 10rem;
}
.box-5{
    display: flex;

}
#floatingTitle{
    width: 29rem;
     
}
@media (max-width:768px){
    .main-box{
        height: 38.2rem;
    }
}


@media (min-width: 415px) and (max-width: 500px) {
    .box{
        width: 26rem;
    }
    #floatingTitle{
        width: 24rem;
    }
    .main-box{
        height: 38.2rem;
    }
    .form-select{
        width: 12rem;
    }
}

@media (min-width: 375px) and (max-width: 415px) {
    .box{
        width: 25rem;
    }
    #floatingTitle{
        width: 22rem;
    }
    .main-box{
        height: 38rem;
        padding-top: 0rem;
    }
    .form-select{
        width: 12rem;
    }
}
@media (min-width: 300px) and (max-width: 385px) {
    .box{
        width: 19rem;
        height: 27rem;
    }
    #floatingTitle{
        width: 17rem;
    }
    .main-box{
        height: 38.2rem;
    }
    .form-select{
        width: 17rem;
    }
    .box-3{
        display: inherit;
    }
    .button-box button{
        width: 7rem;
    }
}