<!-- Modal -->
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" id="box-style">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-center" id="staticLabel">View Number :- {{task.id}} </h1>
                        <button routerLink="/" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating">
                            <textarea type="text" class="textarea-1" style="margin-top: 2rem;" 
                            placeholder="Title" disabled>{{task.Title}}</textarea>
                        <label for="floatingTitles">Title</label>
                        </div>
                        <div class="form-floating">
                            <div class="form-floating">
                                <textarea class="textarea-2" type="text" style="margin-top: 2rem;" 
                                    placeholder="Title" disabled>{{task.Description}}</textarea>
                                <label for="floatingTitles">Description</label>
                            </div>
                        </div>
                        <div class="form-floating">
                            <textarea type="text" style="margin-top: 2rem;" class="form-control" id="floatingStatuss"
                                placeholder="Status" disabled>{{status}}</textarea>
                            <label for="floatingStatuss">Status</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" routerLink="/">Close</button>
                        <button routerLink="/tasks/edit/{{task.id}}" type="button" data-bs-dismiss="modal" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>

</div>